.about_container {
  grid-column: 2/-1;
  grid-row: 2/-1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  margin: 0 2rem 2rem 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 1.6rem;
}
