.project_container {
  position: relative;
  grid-column: 2/-1;
  grid-row: 2/-1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  margin: 0 2rem 2rem 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 1.6rem;
}

.project_container::-webkit-scrollbar {
  display: none;
}

.project {
  padding: 2rem;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border-radius: 8px;
  width: 90%;
  .link {
    margin-top: 1.6rem;
    text-align: center;
  }
  img {
    margin-top: 0.4rem;
  }
}

.link:hover {
  cursor: pointer;
}

.project_title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

@media (width < 800px) {
  .project_container {
    max-height: 85vh;
    width: 90vw;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto 2vh auto;
  }
}
