@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  font-family: var(--font-wenkai-mono);

  /* background-image: url("/home/richardefevre/personal/portfolio/public/grid.1.webp");
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
