/* MAIN LAYOUT */

.main {
  display: grid;
  grid-template-columns: 50vw 1fr;
  grid-template-rows: 20vh 1fr;
  height: 100vh;
}

/* PROFILE */

.bg {
  z-index: -2;
  position: fixed;
  inset: 0;
  object-fit: cover;
  /* top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: none; */
}

.profile {
  font-family: var(--font-caveat);
  color: rgb(30, 55, 110);
  position: fixed;
  top: 2.4rem;
  left: 6.4rem;
  display: flex;
  flex-direction: column;
  width: 30vw;
  h2 {
    font-size: 2.4rem;
    padding-left: 0.4rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    margin-top: 0.4rem;
    font-size: 1.6rem;
  }
  /* transform: rotate(-3deg); */
}

.notepad {
  position: fixed;
  margin: 1.6rem 0 0 1.2rem;
  z-index: -1;
  /* width: 46rem; */
  height: 36rem;
  /* transform: rotate(-3deg); */
}

.profile_intro {
  display: flex;
  flex-direction: row;
  .intro_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1.2rem;
  }
}

.sketch {
  border-radius: 50%;
  height: 160px;
  width: 160px;
}

.profile_blurb {
  margin-top: 2rem;
  fonr-size: 1.2rem;
}

/* NAV */

.nav {
  z-index: 3;
  position: sticky;
  background: rgba(255, 255, 255, 0.8);
  top: 0.8rem;
  margin: 1.6rem 2rem 1.2rem 0;
  grid-column: 2/-1;
  grid-row: 0/1;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_link {
  padding: 0.4rem 1.6rem;
  background-color: white;
  /* border: 2px red solid; */
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav_link:hover {
  cursor: pointer;
}

/* .nav_link_active {
  padding: 0.4rem 1.6rem;
  border: red 1px solid;
  border-radius: 8px;
} */

/* DYNAMIC PANEL */

.project_container,
.about_container,
.contact_container {
  grid-column: 2/-1;
  grid-row: 2/-1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  margin: 0 2rem 2rem 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 1.6rem;
}
